<div class="list" ng-controller='taskListController'>	
<h1>Tasks</h1>
<p>Really important stuff</p>	

<a href="#/addTask" class="button green-button">Add Task</a>

<form>
  <div class="row">
    <div class="large-12 columns">
      <label>Sort By
        <select ng-model="orderList">
          <option value="dateCreated">dateCreated</option>
          <option value="deadline">deadline</option>
          <option value="name">name</option>
          <option value="assignedUserName">assignedUserName</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Task Type</label>
      <input type="radio" name="Pending" ng-model="selectedSearch" value="Pending" id="Pending"><label for="Pending">Pending</label>
      <input type="radio" name="Completed" ng-model="selectedSearch"value="Completed" id="Completed"><label for="Completed">Completed</label>
      <input type="radio" name="All" ng-model="selectedSearch" value="All" id="All"><label for="All">All</label>

    </div>
       <div class="large-6 columns">
      <label>Ascend/Descend</label>
      <input type="radio" ng-model="ascendDescend" name="Ascending" data-ng-value="false" id="Ascending"><label for="Ascending">Ascending</label>
      <input type="radio" ng-model="ascendDescend" name="Descending" data-ng-value="true" id="Descending"><label for="Descending">Descending</label>
    </div>
  </div>
</form>


<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="button tiny info">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1" class="button tiny info">
        Next
    </button>


    <ul>
        <li ng-repeat="task in tasks | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:orderList:ascendDescend">
     	 <div class="row">
        <div class = "large-3 columns">
            <a href="#/taskDetail/{{task._id}}">
			<h3>{{task.name}}</h3>
			</a>
		</div>
		<div class = "large-3 columns">
			<p>{{task.deadline}}</p>
		</div>
		<div class = "large-3 columns">
			<p>{{task.assignedUserName}}</p>
		</div>
		<button ng-click="deleteTask(task._id)" class="button tiny info red-button">Delete Task</button>

	</div>
        </li>
    </ul>
    



</div>